/*style time-event*/
.timeline-event{
  width: 1438px;
  margin: 47px 393px 0 393px;
  font-family: Arial;
}

.date-time li{
  list-style: none;
}

.date{
  font-size: 15px;

}

.time {
  font-size: 25px;
}

.leftpane{

  width: 100px;
  height: 100%;
  text-align: right;
  margin: 48px 401px;
  position: absolute;
  left: -130px;

}

.outerrightpane{
  display: inline-block;
  background-color: white;
  border-left: 10px solid #72B8E8;
  margin: 50px auto 10px 10px;
}

.rightpane{
  diplay: inline-block;
  padding: 0 0 0 0px;
  max-width: 500px;
  background-color: #72B8E8;
  float: left;
  margin: 40px;
  border-radius: 3px;
  position: relative;
  top: -20px;
}
/*carrat for right pane*/
.rightpane:before{
  content: "";
  position: absolute;
  margin: 0 0 0 5px;
  top: 25px;
  left: -20px;
  border: 8px solid transparent;
  border-right-color: #72B8E8;
}
/*outer blue circle*/
.leftpane:before{
  content: "";
  position: absolute;
  top: 0px;
  left: 115px;
  border: 28px solid #72B8E8;
  border-radius: 28px;
}

/*inner white circle*/
.leftpane:after{
  content: "";
  position: absolute;
  top: 8px;
  left: 123px;
  border: 20px solid #438BC1;
  border-radius: 20px;

}

.recipie{
  margin: 10px;
  padding: 0px;
  position: relative;
  top: -10px;
  border-top: 1px solid white;
  color: white;
}

.title{
  margin: 10px;
  color: white;

}

.line {
  border-left: 5px solid black;
  position: absolute;
  height: 200px;
  width: 1px;
  top: 10px;
  left: 129px;
}
